.tts {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.tts-controls {
	display: flex;
	flex-direction: column;
	flex: 0 1 30%;
	height: 100%;
	justify-content: flex-start;
	padding: 1rem;
}

.tts-input {
	background: #eee;
	border-radius: 10px;
	flex: 1 1 70%;
	height: 100%;
	padding: 1rem;
	position: relative;
}
.tts-input > textarea {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	resize: none;
	font-size: large;
	outline: none;
	padding: 0.5rem;
}
.rs-container > button {
	width: 3rem;
	height: 3rem;
}
